#blogContainer{
	background-color: #ABA9A6;
}
#titlePicture{
	float: left;
}
#tools{
	float: right;
}
#customizationBar{
	display: none;
	padding-right: 20px;
	float: left;
}
#customBarExit{
	padding-top: 30px;
	padding-right: 20px;
	float: left;
}
#defaultStyle{
	padding-top: 30px;
	padding-right: 20px;
	float: left;
}
#style1{
	padding-top: 30px;
	padding-right: 20px;
	float: left;
}
#post{
	padding-top: 30px;
	padding-right: 20px;
	float: left;
}
#customization{
	padding-top: 30px;
	padding-right: 20px;
	float: left;
}
#profile{
	float: right;
	padding-right: 10px;
}
#titleHeader{
	padding-top: 80px;
}
#title{
	background-image: url('longhorn_silhouette.jpg');
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
#landingHeader{
	color: #BF5700;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 45px;
	/*background-image: url('longhorn_silhouette.jpg');
	background-repeat: no-repeat;
	background-position: 50% 100%;*/
}
.post{
	background-color: #BF5700;
	overflow: hidden;
	margin-bottom: 40px;
	margin-left: 40px;
	margin-right: 40px;
}
.postTitle{
	text-align: center;
}
.postMeta{
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}
.postContent{
	float: left;
}