#titlePicture{
	float: left;
}
#tools{
	float: right;
}
#post{
	padding-top: 30px;
	padding-right: 20px;
	float: left;
}
#profile{
	float: right;
}
#titleHeader{
	padding-top: 80px;
}
#landingHeader{
	color: red;
	text-align: center;
	padding-top: 110px;
}
.post{
	background-color: gray;
	overflow: hidden;
	margin-bottom: 20px;
}
.postTitle{
	text-align: center;
}
.postMeta{
	float: left;
	margin-right: 20px;
}
.postContent{
	float: left;
}